$primary-color: #fafbff;
$secondary-color: #fafbff;
$body-color: #ffffff;
$accent-color: #ef3340;
$accent-mono-color: #f3626c;
$green-color: #43b748;
$green-color-1: #7cc954;
$paragraph-color-2: #676f8f;
$acian-hover-color-2: #6f7dff;
$gray-color-1: #494f66;
$gray-color-2: #676f8f;
$gray-color-3: #a3abcc;
$gray-color-4: #c5cbe0;
$gray-color-5: #e4e8f7;
$gray-color-6: #f0f2fa;
$gray-color-7: #f7f8fc;
$blue-color: #6769ff;
