@import 'colors';
@import 'variables';
@import 'components/app';
@import 'components/header';
@import 'pages/home';
@import 'pages/quoteInsurance';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
