@import 'colors';
@import 'variables';
@import 'components/app';
@import 'components/header';
@import 'pages/home';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  color: $green-color;
}
// font-family: 'Roboto', sans-serif;
